@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ubuntu:wght@300&display=swap');

:root {
    --primary-color: #100a07;
    --secondary-color: #5E8B23;
    --accent1-color: #CDDFA0;
    --accent2-color: #6FD08C;

    --heading-font:'Caveat', serif;
    --paragraph-font: 'Ubuntu', serif;

    --nav-background-color:var(--accent1-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-background-color:var(--primary-color);
}

* {
    margin-left: 15px;
    padding: 0;
    box-sizing: border-box;
    max-width: 1300px;    
}

header {
    display: grid;    
    grid-template-columns: 40% 1fr;
    background-color: var(--nav-background-color);
    border: 1px solid black;
    min-height: 200px;       
    margin-left: 30px;
    margin-bottom: 20px;
}

header img {
    width: 150px;
    justify-self: center;
    align-self: center;
    border: 1px solid black;
}

nav {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 90px;
}

header a {
    text-decoration: none;
    font-family:var(--paragraph-font);
    color: black;
    border: 1px solid black;
    margin: 0;
    padding: 10px;
    background-color: #F99352;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

h1 {
    font-family:var(--heading-font);
    color:var(--primary-color);
    position:absolute;
    text-align: center;
    background: rgba(171, 188, 175, 0.575);
    width: 100%;
    top:90px;
    font-size: 5em;
    margin: 0;
}

.hero article {
    position:absolute;
    top: 250px;
    display: block;
    padding: 20px;
    margin: 70px;
    background: rgba(216, 223, 217, 0.822);

}

.hero article img {
    float:right;
    width: 300px;
}

.history {
    display: grid;
    background-color: rgb(233, 230, 230);
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    margin-bottom: 20px;
}

.history h2 {
    grid-column: 1 / 4;
    background: rgba(18, 117, 42, 0.575);
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 20px;    
}

.history img {
    justify-self: center;
    align-self: center;
}

h2 {
    font-family:var(--heading-font);
    color:var(--primary-color);
    font-size: 3em;
    justify-self: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(233, 230, 230);
    border: 1px solid black;
    padding-bottom: 40px;
    margin-bottom: 20px;
    align-items:center;
    justify-items: center;
    height: 500px;
}

.adventure h2 {
    grid-column: 1 / 6;
    background: rgba(18, 117, 42, 0.575);
    width: 100%;
    text-align: center;
    margin: 20px;
}

.adventure figure img {
    width: 240px;   
    border: 1px solid black;
    margin: 0;
}

figure {
    margin: 0;
    background-color: #F99352;
    padding-top: 10px;
}

figcaption {
    margin-bottom: 5px;
    text-align: center;
    font-family: var(--paragraph-font);
}

p {
    font-family:var(--paragraph-font);
    color:black;
    font-size: 1.2em;
}

.hero{
    position: relative;    
    margin-bottom: 15px;
}

.hero img {
    width: 100%;
    height: auto;
    margin: 0;
}

.sociallinks {
    flex: 1;
}

.sociallinks a {    
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    margin-left: 30px;
    
}

footer p {
    font-weight: bold;
    flex: 5;
    padding-left: 380px;
}

.contact2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(233, 230, 230);
    border: 1px solid black;
    padding-bottom: 40px;
    margin-bottom: 20px;
    align-items:center;
    justify-items: center;
    height: 450px;
}

.contact2 h2 {
    grid-column: 1 / 6;
    background: rgba(18, 117, 42, 0.575);
    width: 100%;
    text-align: center;
    margin: 40px;
}

.contact2 figure img {
    width: 350px;   
    border: 1px solid black;
    margin: 0;
}

.contact1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(233, 230, 230);
    border: 1px solid black;
    margin-bottom: 20px;
}

.contact1 h2 {
    background: rgba(18, 117, 42, 0.575);
    width: 100%;
    text-align: center;
    margin: 40px 0 ;
}

.cinfo {
    padding: 0;
    margin: 0;
}

.contactus {
    padding: 0;
    margin: 0;
}

form {
    background-color: #f7ad7f;
    font-family:var(--paragraph-font);
    font-size: 1.3em;
    margin: 20px;
    border-radius: 45px;
    display: grid;
}

form div {
    margin: 20px;
    font-weight: 600;
}

.name {
    padding-top: 10px;
}

.contactus h2 {
    margin-bottom: 0;
}

input {
    font-size: 1.1em;
    padding: 8px;
    border-radius: 18px;
}

textarea {
    font-size: 1.1em;
    padding: 8px;
    border-radius: 18px;
    margin-top: 10px;
}

input[type="submit"] {
    margin: 15px;
    font-size: 1.1em;
    font-family:Arial, Helvetica, sans-serif;
    width: 180px;
    justify-self: center;
    border-radius: 45px;
}

input[type="submit"]:hover {
    background-color: rgba(18, 117, 42, 0.575);
    color: white; 
}